version: "3.9"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    restart: unless-stopped
    # Si usas un proxy externo, elimina el mapeo de puertos y usa red del proxy
    # networks:
    #   - webnet
# networks:
#   webnet:

